@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 127, 23, 52;
  --background-start-rgb: 255, 240, 245;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 220, 230;
    --background-start-rgb: 255, 240, 245;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  ) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
