# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# Testing
coverage/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Misc
*.log
*.swp
.DS_Store
Thumbs.db
/frontend/nul
/nul
